<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iArcos.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C2017BB3698BD35DE3E7E75BC500AD8061AE9D88</string>
				<key>dateExpires</key>
				<string>17/10/2025</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C2017BB3698BD35DE3E7E75BC500AD8061AE9D88</string>
						<key>dateExpires</key>
						<string>17/10/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MSAL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z39Z4X9J9E</string>
						<key>name</key>
						<string>David Kilmartin</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Z39Z4X9J9E.com.strataiarcos.v02</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Z39Z4X9J9E</string>
				<key>com.apple.external-accessory.wireless-configuration</key>
				<true/>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>Z39Z4X9J9E.com.microsoft.adalcache</string>
				</array>
			</dict>
			<key>name</key>
			<string>iArcos.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>850e89fb-b991-4a94-a2b3-d260bb7fcb90</string>
				<key>dateExpires</key>
				<string>17/10/2025</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.strataiarcos.v02</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Z39Z4X9J9E</string>
				<key>name</key>
				<string>David Kilmartin</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
