<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DataTables</key>
	<array>
		<dict>
			<key>IUR</key>
			<integer>90</integer>
			<key>TableName</key>
			<string>Package</string>
			<key>DownloadDate</key>
			<date>2012-12-03T14:15:45Z</date>
			<key>DownloadMode</key>
			<integer>1</integer>
			<key>DownloadModeName</key>
			<string>PARTIAL</string>
			<key>IsDownloaded</key>
			<false/>
			<key>ImageFileName</key>
			<string>PackageUpdate.png</string>
		</dict>
		<dict>
			<key>IUR</key>
			<integer>100</integer>
			<key>TableName</key>
			<string>Location</string>
			<key>DownloadDate</key>
			<date>2012-12-03T14:15:45Z</date>
			<key>DownloadMode</key>
			<integer>1</integer>
			<key>DownloadModeName</key>
			<string>PARTIAL</string>
			<key>IsDownloaded</key>
			<false/>
			<key>ImageFileName</key>
			<string>Location-Blue-40.png</string>
		</dict>
		<dict>
			<key>IUR</key>
			<integer>105</integer>
			<key>TableName</key>
			<string>Location MAT</string>
			<key>DownloadDate</key>
			<date>2012-12-03T14:15:45Z</date>
			<key>DownloadMode</key>
			<integer>1</integer>
			<key>DownloadModeName</key>
			<string>PARTIAL</string>
			<key>IsDownloaded</key>
			<false/>
			<key>ImageFileName</key>
			<string>icons8-bar-chart-40.png</string>
		</dict>
		<dict>
			<key>IUR</key>
			<integer>110</integer>
			<key>TableName</key>
			<string>Product</string>
			<key>DownloadDate</key>
			<date>2012-12-03T14:15:45Z</date>
			<key>DownloadMode</key>
			<integer>1</integer>
			<key>DownloadModeName</key>
			<string>PARTIAL</string>
			<key>IsDownloaded</key>
			<false/>
			<key>ImageFileName</key>
			<string>Product-Blue-40.png</string>
		</dict>
		<dict>
			<key>IUR</key>
			<integer>115</integer>
			<key>TableName</key>
			<string>Price</string>
			<key>DownloadDate</key>
			<date>2012-12-03T14:15:45Z</date>
			<key>DownloadMode</key>
			<integer>1</integer>
			<key>DownloadModeName</key>
			<string>PARTIAL</string>
			<key>IsDownloaded</key>
			<false/>
			<key>ImageFileName</key>
			<string>Price-Blue-40.png</string>
		</dict>
		<dict>
			<key>IUR</key>
			<integer>120</integer>
			<key>TableName</key>
			<string>Description</string>
			<key>DownloadDate</key>
			<date>2012-12-03T14:15:45Z</date>
			<key>DownloadMode</key>
			<integer>1</integer>
			<key>DownloadModeName</key>
			<string>PARTIAL</string>
			<key>IsDownloaded</key>
			<false/>
			<key>ImageFileName</key>
			<string>Descriptions-Blue-40.png</string>
		</dict>
		<dict>
			<key>IUR</key>
			<integer>125</integer>
			<key>TableName</key>
			<string>Resources</string>
			<key>DownloadDate</key>
			<date>2012-12-03T14:15:45Z</date>
			<key>DownloadMode</key>
			<integer>0</integer>
			<key>DownloadModeName</key>
			<string>FULL</string>
			<key>IsDownloaded</key>
			<false/>
			<key>ImageFileName</key>
			<string>Resources-Blue-40.png</string>
		</dict>
		<dict>
			<key>IUR</key>
			<integer>130</integer>
			<key>TableName</key>
			<string>Presenter</string>
			<key>DownloadDate</key>
			<date>2012-12-03T14:15:45Z</date>
			<key>DownloadMode</key>
			<integer>1</integer>
			<key>DownloadModeName</key>
			<string>PARTIAL</string>
			<key>IsDownloaded</key>
			<false/>
			<key>ImageFileName</key>
			<string>Presenter-Blue-40.png</string>
		</dict>
		<dict>
			<key>IUR</key>
			<integer>140</integer>
			<key>TableName</key>
			<string>Image</string>
			<key>DownloadDate</key>
			<date>2012-12-03T14:15:45Z</date>
			<key>DownloadMode</key>
			<integer>1</integer>
			<key>DownloadModeName</key>
			<string>PARTIAL</string>
			<key>IsDownloaded</key>
			<false/>
			<key>ImageFileName</key>
			<string>Camera-Blue-40.png</string>
		</dict>
		<dict>
			<key>IUR</key>
			<integer>150</integer>
			<key>TableName</key>
			<string>Contact</string>
			<key>DownloadDate</key>
			<date>2012-12-03T14:15:45Z</date>
			<key>DownloadMode</key>
			<integer>1</integer>
			<key>DownloadModeName</key>
			<string>PARTIAL</string>
			<key>IsDownloaded</key>
			<false/>
			<key>ImageFileName</key>
			<string>Contact-Blue-40.png</string>
		</dict>
		<dict>
			<key>IUR</key>
			<integer>160</integer>
			<key>TableName</key>
			<string>Form</string>
			<key>DownloadDate</key>
			<date>2012-12-03T14:15:45Z</date>
			<key>DownloadMode</key>
			<integer>1</integer>
			<key>DownloadModeName</key>
			<string>PARTIAL</string>
			<key>IsDownloaded</key>
			<false/>
			<key>ImageFileName</key>
			<string>Form-Blue-40.png</string>
		</dict>
		<dict>
			<key>IUR</key>
			<integer>170</integer>
			<key>TableName</key>
			<string>Employee</string>
			<key>DownloadDate</key>
			<date>2012-12-03T14:15:45Z</date>
			<key>DownloadMode</key>
			<integer>1</integer>
			<key>DownloadModeName</key>
			<string>PARTIAL</string>
			<key>IsDownloaded</key>
			<false/>
			<key>ImageFileName</key>
			<string>Employee-Blue-40.png</string>
		</dict>
		<dict>
			<key>IUR</key>
			<integer>180</integer>
			<key>TableName</key>
			<string>Configuration</string>
			<key>DownloadDate</key>
			<date>2012-12-03T14:15:45Z</date>
			<key>DownloadMode</key>
			<integer>1</integer>
			<key>DownloadModeName</key>
			<string>PARTIAL</string>
			<key>IsDownloaded</key>
			<false/>
			<key>ImageFileName</key>
			<string>Configuration-Blue-40.png</string>
		</dict>
		<dict>
			<key>IUR</key>
			<integer>190</integer>
			<key>TableName</key>
			<string>Order</string>
			<key>DownloadDate</key>
			<date>2012-12-03T14:15:45Z</date>
			<key>DownloadMode</key>
			<integer>2</integer>
			<key>DownloadModeName</key>
			<string>EXCLUDE</string>
			<key>IsDownloaded</key>
			<false/>
			<key>ImageFileName</key>
			<string>Cart-Blue-40.png</string>
		</dict>
		<dict>
			<key>IUR</key>
			<integer>195</integer>
			<key>TableName</key>
			<string>Call</string>
			<key>DownloadDate</key>
			<date>2012-12-03T14:15:45Z</date>
			<key>DownloadMode</key>
			<integer>2</integer>
			<key>DownloadModeName</key>
			<string>EXCLUDE</string>
			<key>IsDownloaded</key>
			<false/>
			<key>ImageFileName</key>
			<string>Call-Blue-40.png</string>
		</dict>
		<dict>
			<key>IUR</key>
			<integer>200</integer>
			<key>TableName</key>
			<string>Survey</string>
			<key>DownloadDate</key>
			<date>2012-12-03T14:15:45Z</date>
			<key>DownloadMode</key>
			<integer>1</integer>
			<key>DownloadModeName</key>
			<string>PARTIAL</string>
			<key>IsDownloaded</key>
			<false/>
			<key>ImageFileName</key>
			<string>Survey-blue-40.png</string>
		</dict>
		<dict>
			<key>IUR</key>
			<integer>205</integer>
			<key>TableName</key>
			<string>Response</string>
			<key>DownloadDate</key>
			<date>2012-12-03T14:15:45Z</date>
			<key>DownloadMode</key>
			<integer>2</integer>
			<key>DownloadModeName</key>
			<string>EXCLUDE</string>
			<key>IsDownloaded</key>
			<false/>
			<key>ImageFileName</key>
			<string>response-40.png</string>
		</dict>
		<dict>
			<key>IUR</key>
			<integer>210</integer>
			<key>TableName</key>
			<string>Journey</string>
			<key>DownloadDate</key>
			<date>2012-12-03T14:15:45Z</date>
			<key>DownloadMode</key>
			<integer>1</integer>
			<key>DownloadModeName</key>
			<string>PARTIAL</string>
			<key>IsDownloaded</key>
			<false/>
			<key>ImageFileName</key>
			<string>Journey-Blue-40.png</string>
		</dict>
	</array>
	<key>UploadItems</key>
	<array>
		<dict>
			<key>IUR</key>
			<integer>500</integer>
			<key>TableName</key>
			<string>Photo</string>
			<key>DownloadDate</key>
			<date>2012-12-03T14:15:45Z</date>
			<key>DownloadMode</key>
			<integer>1</integer>
			<key>DownloadModeName</key>
			<string>PARTIAL</string>
			<key>IsDownloaded</key>
			<false/>
			<key>ImageFileName</key>
			<string>Camera-Blue-40.png</string>
		</dict>
	</array>
	<key>Version</key>
	<string>2.0</string>
</dict>
</plist>
